<html>
<div class='page-heading' id='app-install'>App Install Method (Requires Root):</div>
<a id='app'></a>
<hr />
<p class="text">Download the TWRP&nbsp;Manager app:</p>
<ul class="text">
    <li><a href="http://play.google.com/store/apps/details?id=com.jmz.soft.twrpmanager">Play Store</a></li>
    <li><a href="http://download.jmzsoftware.com/TWRPManager.apk">No Play Store?&nbsp;Find a direct download link at the bottom of this page.</a></li>
</ul>
<p class="text">Install the app and open it.&nbsp; Tap on Install&nbsp;TWRP. Select your device from the device list ({{ page.codename }}) and then tap on Install Recovery. The file will download and be installed automatically.</p>
</html>
