<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="preconnect" href="https://www.gstatic.com" />
  <link rel="preconnect" href="https://ssum-sec.casalemedia.com" />
  <link rel="preconnect" href="https://cms.quantserve.com" />
  <link rel="preconnect" href="https://fcmatch.youtube.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://odr.mookie1.com" />
  <link rel="preconnect" href="https://encrypted-tbn3.gstatic.com" />
  <link rel="preconnect" href="https://fcmatch.google.com" />
</head>
