<div class='page-heading'>Notes About Motorola Devices:</div>
<hr />
<p class="text">
Some Motorolal devices have bootloaders that require additional steps to unlock before you are able to flash custom images. This typically involves waiting for certain time period to have your OEM bootloader unlock option available under developer options.<br>
You will need to follow the steps on Motorola's website in order to unlock your device.<br>
Understand that unlocking your device will wipe all of your personal data, settings, and apps from its memory.
</p>
<p class="text">See: <a href="https://motorola-global-portal.custhelp.com/app/standalone/bootloader/unlock-your-device-a">Apply for unlocking Motorola devices</a></p>

<p class="text">
Note: If your device is not supported by the Motorola Bootloader Unlock website, you may be able to use an alternative bootloader unlock method like <a href="http://theroot.ninja/">SunShine</a>, though they only support some devices/firmwares.</p>
