{% if page.mtkchipset %}
<html>
<div class='page-heading'>MTK Flash Tool Install Method (No Root Required):</div>
<a id='mtk'></a>
<hr />
<p class="text">Requirements:</p>
<ul>
<li>A copy of the factory ROM for the device, including the scatter file</li>
<li>A proper MTK Flash Tool version for the chipset of this device ({{ page.mtkchipset }})</li>
<li>Downloaded and installed the VCOM driver for MTK devices</li>
</ul>
<p class="text">Installation steps:</p>
<ol>
<li>Download the latest image file (.img) from the download link above and rename it to twrp.img, then copy it into the same folder as the factory ROM.</li>
<li>Open up the MTK Flash Tool and use the scatter loading button to select the scatter file for this device.</li>
<li>Uncheck all partition boxes except for the RECOVERY partition.</li>
<li>Click on the folder/filename path for RECOVERY, then browse to and select the twrp.img file.</li>
<li>Click on the [Download] button in the MTK Flash Tool.</li>
<li>Power off your device completely.</li>
<li>Plug the device into the computer and wait for it to flash. If it fails to flash the first time, you may have to unplug the phone and click [Download] again. Try this a few times. If it still doesn't work, try a different USB port and USB cable.</li>
</ol>
</html>
{% endif %}
