<div class='page-heading' id='support-status'>Status:</div>
<hr />
<p class="text">Support Status: {{ page.supportstatus }}</p>
<p class="text">Maintainer: {{ page.maintainer }}</p>
<p class="text">Code Name: {{ page.codename }}</p>
{% if page.commontree %}
<p class="text"><a href="{{ page.commontree }}">Common Tree / files</a></p>
{% endif %}
{% if page.devicetree %}
<p class="text"><a href="{{ page.devicetree }}">Device Tree / files</a></p>
{% endif %}

{% if page.xdathread %}
<p class="text"><a href="{{ page.xdathread }}">Support thread on xda-developers</a></p>
{% endif %}

{% if page.zuliptopic %}
<p class="text"><a href="{{ page.zuliptopic }}">Support topic on Zulip</a></p>
{% endif %}
