<div class='page-heading'>Notes About Xiaomi Mi Devices:</div>
<hr />
<p class="text">
Some Xiaomi Mi devices have bootloaders that require additional steps to unlock before you are able to flash custom images. This typically involves filling out an application to have your device unlocked.<br>
You will need to follow the steps on Xiaomi's MIUI website in order to unlock your device.<br>
Understand that unlocking your device will wipe all of your personal data, settings, and apps from its memory.
</p>
<p class="text">See: <a href="http://en.miui.com/unlock/">Apply for unlocking Mi devices</a></p>
